.photoList {
  display: flex;
  padding: 0 2rem;
}

.photoList > div {
  position: relative;
}

.photoList > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 190rem;
  height: 190rem;
  background-color: gray;
  opacity: 0.8;
  z-index: 2;
}

.photoList img {
  width: 190rem;
  height: 190rem;
  margin: 0 1rem;
  object-fit: cover;
}

@media all and (max-width: 720px) {
  .photoList > div > div {
    width: 150rem;
    height: 150rem;
  }
  .photoList img {
    width: 150rem;
    height: 150rem;
  }
}
