.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 600rem;
}

.gridWrapper > a > div {
  position: relative;
  width: 198rem;
  height: 198rem;
  margin: 1rem;
  background-color: aqua;
}

.gridWrapper > a > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(64, 64, 64, 0.8);
  opacity: 0;
  z-index: 2;
}

.gridWrapper > a > div > div:hover {
  opacity: 1;
}

.gridWrapper > a > div > div > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  width: 80rem;
  transform: translate(-50%, -50%);
}

.gridWrapper > a > div > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.gridWrapper > a > div > div > div > div > div {
  width: 50rem;
  height: 20rem;
  text-align: right;
  font-size: 20rem;
}

.gridWrapper img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@media all and (max-width: 720px) {
  .gridWrapper {
    width: 480rem;
  }
  .gridWrapper > a > div {
    width: 158rem;
    height: 158rem;
  }
}
