.linkGroupWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 480rem;
  margin-top: 10rem;
}

.linkGroupWrapper > a > div {
  width: 100rem;
  padding: 4rem;
  text-align: center;
}

.linkGroupWrapper > a > div:hover {
  border-bottom: 3px solid gray !important;
  color: gray;
}

@media screen and (max-width: 720px) {
  .linkGroupWrapper {
    width: 360rem;
  }
}
