:root {
  font-size: 6.25%;
}

::-webkit-scrollbar {
  display: block;
  width: 8rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: #d9d9d9;
}

* {
  font-size: 16rem;
  box-sizing: border-box;
  text-decoration-line: none;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

input[type='text'] {
  outline: none;
  border: 0;
}

input[type='password'] {
  outline: none;
  border: 0;
}

input[type='date'] {
  font-family: Inter;
}

input[type='date']:hover {
  cursor: pointer;
}

input[type='date']:focus {
  outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  margin-left: 0;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
  padding: 0;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

select {
  appearance: none;
  width: 120rem;
  padding: 4rem;
  border: 2px solid #d9d9d9;
  border-radius: 6rem;
  text-align: center;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

textarea {
  border: 0;
  resize: none;
  font-family: Inter;
}

textarea:focus {
  outline: none;
}

.scrollbarHidden::-webkit-scrollbar {
  display: none;
}
