.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: inherit;
  height: 50rem;
  padding: 10rem;
  border-bottom: 1rem solid #d9d9d9;
}

.modalBody {
  width: inherit;
  height: 550rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400rem;
  margin-top: 20rem;
}

.photo > button {
  width: 60rem;
  height: 60rem;
  border: 2rem solid #d9d9d9;
  border-radius: 50%;
}

.photo > button:hover {
  background-color: #efefef;
}

.photo > div {
  display: flex;
  width: inherit;
  justify-content: space-between;
  margin-top: 20rem;
}

.photo > div > img {
  width: 132rem;
  height: 132rem;
  object-fit: cover;
}

.comment {
  width: 400rem;
  height: 260rem;
  border: 1rem solid #d9d9d9;
  border-radius: 6rem;
  margin: 20rem 0;
  overflow-y: scroll;
}
